<body>
<div>
<form class="login-form" >
    <div class="login-files">
    <h5 style="color: rgb(181, 180, 180);">Usename</h5> <input type="text" placeholder="enter username" style="box-shadow: -3px 4px rgb(109, 108, 108);border-radius: 25px;">
     <h5 style="color: rgb(186, 185, 185);">Password</h5><input type="text" placeholder="enter password " style="box-shadow: -3px 4px rgb(109,108,108);border-radius: 25px;">
     <br><br>
     <button style="background-color: rgb(159,158,158);box-shadow: -5px 7px rgb(59,59,59);border-radius: 25px;">Login</button>
    </div>
</form>
</div>
</body>
