  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/placeholderBanner_1668508328_183.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/placeholderBanner_1659351893_57.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/placeholderBanner_1670937529_180.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/placeholderBanner_1659351893_57.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="">
      <div class="items" style="display: flex;justify-content: space-around;">
        <div class="">
          <a href=""><img src="assets/watch.png" style="width: 100px;" >
            <p>Watches</p>
          </a>
        </div>
        <div class="">
          <a href=""><img src="assets/mobile.png" style="width: 100px;">
            <p>Mobiles</p>
          </a>
        </div>
        <div class="">
          <a href=""><img src="assets/trimmer.png" style="width: 100px;">
            <p>Electronics</p>
          </a>
        </div>
        <div class="item4">
          <a href=""><img src="assets/television.png" style="width: 100px;">
            <p>
              Television
            </p>
          </a>
        </div>
      </div>
      <h2>Best selling mobiles</h2>
      <br><br>
   <div style="display: flex;">
      <div id="carouselControls" class="carousel slide col-md-5" data-bs-ride="carousel">
        <div class="carousel-inner" style="margin-left: 170px;">
          <div class="carousel-item active">
            <img src="assets/vivo1.png" class="d-block w-10" alt="..." style="height: 300px;">
            <br>
            <h3 style="padding-left: 60px;">Vivo v29e</h3><b style="color: rgb(79, 167, 255);padding-left: 80px;">17% offer</b>
          </div>
          <div class="carousel-item">
            <img src="assets/vivo2.png" class="d-block w-10" alt="..." style="height: 300px;">
            <br>
            <h3 style="padding-left: 60px;">Vivo T1 44w</h3><b style="color: rgb(90, 166, 254);padding-left: 80px;">27% offer</b>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div id="carouselControl" class="carousel slide col-md-5" data-bs-ride="carousel" style="margin-left: 210px;">
        <div class="carousel-inner" style="margin-left:170px;">
          <div class="carousel-item active">
            <img src="assets/redmi1.png" class="d-block w-10" alt="..." style="height: 300px;">
            <br>
            <h3>Redmi note12 5G</h3><b style="color: rgb(90, 166, 254);padding-left: 80px;">15% offer</b>
          </div>
          <div class="carousel-item">
            <img src="assets/redmi2.png" class="d-block w-10" alt="..." style="height: 300px;">
            <br>
            <h3>redmi 12 5G</h3><b style="color: rgb(90, 166, 254);padding-left: 80px;">12% offer</b>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControl" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselControl" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
   </div>


    <br><br><br>


     <h2>Best product available</h2>
      <div class="row-2"> 
      <div class="card col-md-3" style="height: 400px; margin: 50px;">
        <div class="card-header"></div>
        <div class="card-body text-dark">
           <img src="assets/placeholderBanner_1.jpg" alt="" class="img-fluid">
        </div>
        <div class="card-footer"><button class="btn btn-dark">Explore now</button></div>
      </div>
      <div class="card col-md-3" style="height: 400px;margin: 50px;">
        <div class="card-header"></div>
        <div class="card-body text-dark">
           <img src="assets/placeholderBanner_2.jpg" alt="" class="img-fluid" >
        </div>
        <div class="card-footer "><button class="btn btn-dark">Explore now</button></div>
      </div>
      <div class="card col-md-3" style="height:400px;margin: 50px;">
        <div class="card-header"></div>
        <div class="card-body text-dark">
           <img src="assets/placeholderBanner_3.jpg" alt="" class="img-fluid" >
        </div>
        <div class="card-footer "><button class="btn btn-dark">Explore now</button></div>
      </div>
    </div>
  <br><br>
    <div class="item1">
      <div class="" >
        <a href=""><img src="assets/fastrack.png" alt="" style="height: 130px;">
        </a>
      </div>
      <div >
        <a href=""><img src="assets/buplveof.png" alt="" style="height: 90px;margin: 20px;">
        </a>
      </div>
      <div >
        <a href=""><img src="assets/philips1.png" alt="" style="height: 40px;margin: 35px;">
        </a>
      </div>
      <div s>
        <a href=""><img src="assets/n0d5kl8n.png" alt="" style="height: 100px;">
        </a>
      </div>
    </div>
    <br>
    <div class="item2">
      <div class="">
        <a href=""><img src="assets/novaimg.png" alt="" style="height: 25px; margin: 25px;">
        </a>
      </div>
      <div class="" >
        <a href=""><img src="assets/ulsjmufs.png" alt="" style="height: 90px;">
        </a>
      </div>
      <div class="" >
        <a href=""><img src="assets/x63twxwc.png" alt="" style="height: 100px;">
        </a>
      </div>
    </div>
    <br><br>

  <router-outlet></router-outlet>