<div class="row1">
<div class="card col-md-5" style="height: 500px;width: 500px;margin: 50px;margin-left: 80px;">
    <div class="card-header" style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">4.4<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
    <div class="card-body" style="height: 300px;"><a [routerLink]="['/product','vivo1']"><img src="assets/vivo1.png" alt="" style="height: 300px;padding-left: 115px;"></a></div>
    <div class="card-footer" style="height: 120px;"><h5 style="color: #3981a2;">vivo V29e 5G (Artistic Red, 256 GB)  (8 GB RAM)</h5>
    <h6 style="color: rgb(79, 80, 80);">6 GB RAM | 128 GB ROM
        16.71 cm (6.58 inch) Full HD+ Display
        50MP + 2MP | 8MP Front Camera
        5000 mAh Battery
        Dimensity 6020 Processor</h6></div>
</div>

<div class="card col-md-5" style="height: 500px;width:500px ;margin: 50px; margin-left: 100px;">
    <div class="card-header"style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">4.5<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
    <div class="card-body" style="height: 300px;"><a [routerLink]='[""]'><img src="assets/vivo2.png" alt="" style="height: 300px;padding-left: 115px;"></a></div>
    <div class="card-footer" style="height: 120px;"><h5 style="color: #3981a2">vivo T1 44W (Midnight Galaxy, 128 GB)  (4 GB RAM)</h5>
        <h6 style="color: rgb(79, 80, 80);">4 GB RAM | 128 GB ROM | Expandable Upto 1 TB
            16.36 cm (6.44 inch) Full HD+ AMOLED Display
            50MP + 2MP + 2MP | 16MP Front Camera
            5000 mAh Lithium Battery
            Qualcomm Snapdragon 680 Processor</h6></div>
</div>
</div>
<div class="row2">
    <div class="card col-md-5" style="height: 500px;width: 500px;margin: 50px;margin-left: 80px;">
        <div class="card-header" style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">3.9<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
        <div class="card-body" style="height: 300px;"><a [routerLink]='[""]'><img src="assets/redmi1.png" alt="" style="height: 300px;padding-left: 115px;"></a></div>
        <div class="card-footer" style="height: 120px;"><h5 style="color: #3981a2">REDMI Note 12 5G (Frosted Green, 128 GB)  (4 GB RAM)</h5>
            <h6 style="color: rgb(79, 80, 80);">4 GB RAM | 128 GB ROM | Expandable Upto 1 TB
                16.94 cm (6.67 inch) Full HD+ AMOLED Display
                48MP + 8MP + 2MP | 13MP Front Camera
                5000 mAh Battery
                Qualcomm Snapdragon 4 Gen 1 Processor</h6></div>
    </div>

    <div class="card col-md-5" style="height: 500px;width:500px ;margin: 50px;margin-left: 100px;">
        <div class="card-header" style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">4.2<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
        <div class="card-body" style="height: 300px;"><a [routerLink]='[""]'><img src="assets/redmi2.png" alt="" style="height: 300px;padding-left: 115px;"></a></div>
        <div class="card-footer" style="height: 120px;"><h5 style="color: #3981a2">REDMI 12 5G (Jade Black, 128 GB)  (4 GB RAM)</h5>
            <h6 style="color: rgb(79, 80, 80);">4 GB RAM | 128 GB ROM
                17.25 cm (6.79 inch) Full HD Display
                50MP Rear Camera
                5000 mAh Battery</h6></div>
    </div>
    </div>
    <div class="row3">
        <div class="card col-md-5" style="height: 500px;width: 500px;margin: 50px;margin-left: 80px;">
            <div class="card-header" style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">4.4<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
            <div class="card-body" style="height: 300px;"><a [routerLink]='[""]'><img src="assets/samsungtv1.png" alt="" style="height: 300px;width: 470px;"></a></div>
            <div class="card-footer" style="height: 120px;"><h5 style="color: #3981a2">SAMSUNG Crystal 4K 138 cm (55 inch) Ultra HD (4K) LED Smart Tizen TV </h5>
                <h6 style="color: rgb(79, 80, 80);">Supported Apps: Netflix|Disney+Hotstar|Youtube
                    Operating System: Tizen
                    Resolution: Ultra HD (4K) 3840 x 2160 Pixels
                    Sound Output: 20 W
                    Refresh Rate: 60 Hz</h6></div>
        </div>
        
        <div class="card col-md-5" style="height: 500px;width:500px ;margin: 50px;margin-left: 100px;">
            <div class="card-header" style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">4.1<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
            <div class="card-body" style="height: 300px;"><a [routerLink]='[""]'><img src="assets/samsungtv2.png" alt="" style="height: 300px;width: 470px;"></a></div>
            <div class="card-footer" style="height: 120px;"><h5 style="color: #3981a2">SAMSUNG 163 cm (65 inch) Ultra HD (4K) LED Smart Tizen TV 2022 Edition</h5>
                <h6 style="color: rgb(79, 80, 80);">Supported Apps: Netflix|Prime Video|Disney+Hotstar|Youtube
                    Operating System: Tizen
                    Resolution: Ultra HD (4K) 3840 x 2160 Pixels
                    Sound Output: 20 W
                    Refresh Rate: 50 Hz</h6></div>
        </div>
    </div>
<div class="row4">
    <div class="card col-md-5" style="height: 500px;width: 500px;margin: 50px;margin-left: 80px;">
         <div class="card-header" style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">4.3<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
         <div class="card-body" style="height: 300px;"><a [routerLink]='[""]'><img src="assets/fastrack1.png" alt="" style="height: 300px;padding-left: 115px;"></a></div>
         <div class="card-footer" style="height: 120px;"><h5 style="color: #3981a2">Fastrack watch</h5>
            <h6 style="color: rgb(79, 80, 80);">Minimalists Analog Watch
                                                  For Men 38024PP24</h6></div>
     </div>
            
    <div class="card col-md-5" style="height: 500px;width:500px ;margin: 50px;margin-left: 100px;">
         <div class="card-header" style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">4.3<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
         <div class="card-body" style="height: 300px;"><a [routerLink]='[""]'><img src="assets/fastrack2.png" alt="" style="height: 300px;padding-left: 115px;"></a></div>
         <div class="card-footer" style="height: 120px;"><h5 style="color: #3981a2"> fastrack watch</h5>
            <h6 style="color: rgb(79, 80, 80);">Stunners 1.0 Analog Watch 
                For Men 3255NM01</h6></div>
     </div>
    </div>
    <div class="row5">
         <div class="card col-md-5" style="height: 500px;width: 500px;margin: 50px;margin-left: 80px;">
             <div class="card-header" style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">3.9<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
             <div class="card-body" style="height: 300px;"><a [routerLink]='[""]'><img src="assets/lgtv1.png" alt="" style="height: 300px;width: 470px;"></a></div>
            <div class="card-footer" style="height: 120px;"><h5 style="color: #3981a2">LG 81.28 cm (32 inch) Full HD LED Smart TV  (32LQ645BPTA)</h5>
                <h6 style="color: rgb(79, 80, 80);">Supported Apps:
                    Resolution: Full HD 1,366 x 768 Pixels
                    Sound Output: 16
                    Refresh Rate: 60 Hz</h6></div>
        </div>
            
        <div class="card col-md-5" style="height: 500px;width:500px ;margin: 50px;margin-left: 100px;">
            <div class="card-header" style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">4.4<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
            <div class="card-body" style="height: 300px;"><a [routerLink]='[""]'><img src="assets/lgtv2.png" alt="" style="height: 300px;width: 470px;"></a></div>
            <div class="card-footer" style="height: 120px;"><h5 style="color: #3981a2">LG Ultra HD 108 cm (43 inch) Ultra HD (4K) LED Smart WebOS TV  (43UJ752T)</h5>
                <h6 style="color: rgb(79, 80, 80);">Supported Apps:
                    Operating System: WebOS
                    Resolution: Ultra HD (4K) 3840 x 2160 Pixels
                    Sound Output: 20 W
                    Refresh Rate: 100 Hz</h6></div>
         </div>
        </div>
    <div class="row6">
         <div class="card col-md-5" style="height: 500px;width: 500px;margin: 50px;margin-left: 80px;">
             <div class="card-header" style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">4.2<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
             <div class="card-body" style="height: 300px;"><a [routerLink]='[""]'><img src="assets/philipstrimmer.png" alt="" style="height: 300px;padding-left: 115px;"></a></div>
             <div class="card-footer" style="height: 120px;"><h5 style="color: #3981a2">PHILIPS BT3101/15 Trimmer 45 min Runtime 10 Length Settings  (Black, White)</h5>
                <h6 style="color: rgb(79, 80, 80);">Blade Material: Stainless Steel
                    Trimming Range: 0.5 - 10 mm
                    45 min battery run time
                    10 length settings
                    Gender: Men
                    For Beard & Moustache</h6></div>
         </div>
                    
    <div class="card col-md-5" style="height: 500px;width:500px ;margin: 50px;margin-left: 100px;">
        <div class="card-header" style="height: 50px;"><button class="btn btn-success" style="height: 35px;color: yellow;">4.1<img src="assets/icons8-star-filled-24.png" alt="" style="height: 17px;margin-bottom: 5px;"></button><img src="" alt="" style="height: 35px;padding-left: 430px;"></div>
        <div class="card-body" style="height: 300px;"><a [routerLink]='[""]'><img src="assets/novatrimmer.png" alt="" style="height: 300px;padding-left: 115px;"></a></div>
         <div class="card-footer" style="height: 120px;"><h6 style="color: #3981a2">NOVA NHT 1058 Waterproof Trimmer 200 min Runtime 40 Length Settings  (Grey)</h6>
            <h6 style="color: rgb(79, 80, 80);">Blade Material: Stainless Steel
                Trimming Range: 0.5 - 20 mm
                200 min battery run time
                40 length settings
                Gender: Men
                For Body Grooming, Beard & Moustache, Hair Clipping</h6></div>
    </div>
</div>
<router-outlet></router-outlet>
       