.nav {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
a{
    color: beige;
  
}
.btn{
color:beige;
background-color: black;
margin-left: 200px;
}
.input {
    width: 300px;
    padding-right: 4%;
    margin-left: 20%;
   border-top-left-radius: 40px;
   border-bottom-left-radius: 40px;
   height: 40px;
   background:linear-gradient(rgb(53, 53, 53),rgb(77, 77, 77))  
}
.cart-img{
    margin-left: 100px;
    
}

footer{
    background-color: black;
    height: 350px;
}
hr{
    color: white;
    margin-right: 30%;
    margin-left: 30%;
}
.social-media{
    display: flex;
    justify-content: center;
}